

/*carousel Home + newbook*/
.carousel {
    width: 100vw;
    height: 100vh;

}
.carousel-inner {
    width: 100vw;
    height: 100vh;
    z-index: -1;

    

}
 .bg-carousel {  
    position: absolute;
    left: 0;
    top: 0;
    width: 102%;
    height: max-content;
    background:  linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ) no-repeat;

 }

.control-imgIndex {
    z-index: 1;
}

.bg-carousel .textcarousel{
    position: absolute;
    top: 20em;
    left: 15em;
    z-index: 50;
    color: white;
}
.carousel-text-camt {
    font: 2em sans-serif;
}
.carousel-text-welcome {
    font: 4em sans-serif;

}

/*Covid-19*/
.card {
    width: 18vw;
    height: 23vh;
}
.container-covidAll{
    background:   linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ) no-repeat, url(../image/hospital.jpg) repeat 0 0;
    background-size: 100%; 
    
    width: 100vw;
    height: 100vh;
    
}

.container-covid1 {
    padding-top: 8rem;
    display: flex;
    flex-direction: row ;
    justify-content: center;


}
.container-covid2 {
    margin-top: 5rem;
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    padding-bottom: 8rem;


}
.item-covid1{
    max-width: 25rem;
}
.item-covid{
    max-width: 18rem;
}
/*carousel New Book*/

/*rule*/
.container-rule{
    background:   linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ) no-repeat, url(../image/rule.jpg) repeat 0 0;
    background-size: 100%; 
    font-family: 'Mitr', sans-serif;
    height: 100%; 
    width: 100%;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    


}
.container-rule-fix{
  height: 200vh; 
  width: 100vw;
}

.container-chat{
  display: flex;
  flex-direction: column ;
  width: 100%;
  height: 100%;



}
.kuy-1 {
  width: 100vw;
  height: 25vh;

}

.item-chat1{
  padding: 2% 2% 2% 2%;
  position: absolute;
  margin-top: 10vh;
  left: 5vw;
  width: 30vw;
  height: 20vh;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.541); 
  box-shadow: 10px 10px rgba(0, 0, 0, 0.541);

}
.item-chat2{
  padding: 2% 2% 2% 2%;
  position: absolute;
  margin-top: 10vh;
  right:  5vw;
  width: 30vw;
  height: 20vh;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.541); 
  box-shadow: 10px 10px rgba(0, 0, 0, 0.541);

}



/*about me*/

.container-about{
    background:   linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ) no-repeat, url(../image/aboutme.jpg) repeat 0 0;
    background-size: 100%; 

    width: 100vw;
    height: 100vh;
    
}
