<<<<<<< HEAD

=======
/*carousel Home + newbook*/
>>>>>>> 625824b20d540d741c7b59dc79a848e5e14a84a5
.carousel {
    width: 100vw;
    height: 100vh;

}
.carousel-inner {
    width: 100vw;
    height: 100vh;
    z-index: -1;

    

}
 .bg-carousel {  
    position: absolute;
    left: 0;
    top: 0;
    width: 102%;
    height: max-content;
    background:  linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ) no-repeat;

 }

.control-imgIndex {
    z-index: 1;
}
/* .carousel-item img{
    width: 100vw;
    height: 100vh;
}  */

.bg-carousel .textcarousel{
    position: absolute;
    top: 20em;
    left: 15em;
    z-index: 50;
    color: white;
}
.carousel-text-camt {
    font: 2em sans-serif;
}
.carousel-text-welcome {
    font: 4em sans-serif;

}

/*Covid-19*/
.container-covidAll{
    background:   linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ) no-repeat, url(../image/hospital.jpg) repeat 0 0;
    background-size: 100%; 
    
    
}

.container-covid1 {
    padding-top: 8rem;
    display: flex;
    flex-direction: row ;
    justify-content: center;


}
.container-covid2 {
    margin-top: 5rem;
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    padding-bottom: 8rem;


}
.item-covid1{
    max-width: 25rem;
}
.item-covid{
    max-width: 18rem;
}
/*carousel New Book*/
