html,body{
    width: 100vw;
    height: 100vh;
    margin:0;
    padding: 0;
    /* overflow-x: hidden; */
}
.navbar-dark{
    position: fixed;
    display: block;
    z-index: 100;
}
.navbar-toggler {
    margin-left: 1vw;
}

.search-btnSubmit {
    display: flex;
    width: 50vw;
    position: static;
    justify-content: center;
}
.container-fluid img {
    width: 8%;
    height: 8%;
}
.btn btn-outline-success{
    width: 1em;
}
