html,body{
    width: 100vw;
    height: 100vh;
    margin:0;
    padding: 0;
    overflow-x: hidden;
}
.navbar{
    position: fixed;
    display: block;
}
.navbar-toggler {
    margin-left: 1vw;
}

.search-btnSubmit {
    display: flex;
    width: 50vw;
    position: static;
    justify-content: center;
}
